body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('2866851.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
